div.whatever {
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height 25px;
    border-style: double;
    text-align: center;
    padding: 14px;
    margin-top: 10px;
}

.row1 {
    background-color: burlywood;
}

.row2 {
    background-color: lightsteelblue;
 }

body {
    background-color: #0099CC;
}