.input {
    background-color: white;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border-style: double;
    text-align: center;
    /*padding: 14px;*/
    /*margin-top: 10px;*/
    width: 250px;
}
.left {
    margin-right: auto;

}
.inputbox {
    background-color: oldlace;
    border-style: double;
}

.user_add {
    background-color: honeydew;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height 25px;
    border-style: double;
    text-align: center;
    padding: 14px;
    margin-top: 10px;
    font-weight: bold;
}

ul, li {
    list-style-type: none;
    padding: 2px;
    margin: 5px;
    text-align: center;
}


.btn-style{
	border : solid 4px black;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 20px;
	/*color : #d1ff6e;*/
	padding : 1px 10px;
	/*background-color : #727bfc;*/

}