<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <style>
        body {
            background-color: lightcyan;
        }
        .outer {
            border: 2px black solid;
            padding: 10px;
            margin: 10%;
            margin-top: 2%;
        }
        .inner {
            background-color: tomato;
            border: 1px blueviolet solid;
            padding: 15px;
            margin: 3%;
            box-shadow: 3px 3px lightgray;
        }
    </style>
</head>
<body>
    <div class="outer">
        <div class="inner">
            <p>This is all about the page, all about the page... </p>

            <p><a href="{% url 'page_with_links' %}">Blog List</a></p>
        </div>
    </div>
</body>
</html>